body{
    margin: 5%;
    margin-right: 20%;
    font-size: large;
    background-color: #6d68eec4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Banniere {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    font-size: 18px;
    position: fixed;
    font-weight: bold;
    margin-top: -20px;
    width: 90%;
  }
  
  .Banniere a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .Banniere a:hover {
    text-decoration: underline;
  }
  
  .Banniere img {
    margin-left: 10px;
    border-radius: 90px;
  }
  
  
  @media only screen and (max-width: 600px) {
    .menu-button {
      display: block;
    }
    
    .Banniere {
      position: static;
      top: auto;
      display: flex;
      margin-top: 10px;
      padding: 0;
      flex-direction: column;
    }
    
    .Banniere a {
      padding: 5px;
      
    }
    
    
  }
.doc{
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
}
h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

.doc a{
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
}

.AP1{
    margin-bottom: 20px;
}

  
  @media screen and (max-width: 916px) {
    .menu-button {
        display: block;
      }

      .doc{
        flex-direction: column;
      }

      .AP1, .Facture, .Kbis, .Devis {
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 250px;
        margin-left: -20px;
      }

      input[type=button] {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #009688;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
      }

   
}