body{
    margin: 5%;
    margin-right: 20%;
    font-size: large;
    background-color: #6d68eec4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Banniere{
    margin-top: -70px;
    padding: 5px;
    background-color: bisque;
    position: fixed;
    width: 100%;
    opacity: 0.4;
    margin-left: -80px;
    padding-left: 80px;
}

.Banniere a{
    padding: 25px;
}

.Banniere:hover{
    opacity: 5.0;
}
.doc{
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
}
h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

.doc a{
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
}

.AP1{
    margin-bottom: 20px;
}

  
  @media screen and (max-width: 916px) {

    .Acceuil{
        margin-right: -20%;
    }

    .Banniere{
        margin-left: 2%;
    }
    .Contenue img{
        display: none;
    }

    .Option{
        flex-direction: column;
    }

    .Banniere{
        display: flex;
        flex-direction: column;
        padding: 0%;
        width: fit-content;
        margin-left: -30px;
        margin-top: 100px;
        position: fixed;

    }

     .dis{
        display: none;
    }
}