body{
    margin: 5%;
    margin-right: 20%;
    font-size: large;
    background-color: #1c197dc4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Banniere {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  font-size: 18px;
  position: fixed;
  font-weight: bold;
  margin-top: -20px;
  width: 90%;
}

.Banniere a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.Banniere a:hover {
  text-decoration: underline;
}

.Banniere img {
  margin-left: 10px;
  border-radius: 90px;
}


@media only screen and (max-width: 600px) {
  .menu-button {
    display: block;
  }
  
  .Banniere {
    position: static;
    top: auto;
    display: flex;
    margin-top: 10px;
    padding: 0;
    flex-direction: column;
  }
  
  .Banniere a {
    padding: 5px;
    
  }
  
  
}

.Doc {
  margin-bottom: 50px;
}

.Vr, .AP1, .AP2, .Stage, .Stage2, .AP3, .Ubuntu, .Glpi, .MFA {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
}

.Vr img, .AP1 img, .AP2 img, .Stage img, .Stage2 img, .Ubuntu img, .Glpi img, .MFA img {
  max-width: 100%;
}

.dis {
  margin: 20px 0;
}

input[type=button] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #009688;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #00796b;
}
.Documentaion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.Doc {
  margin: 20px;
}

.Vr {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Vr img {
  margin-top: 20px;
}

.AP1 {
  margin: 20px;
}

.AP1 img {
  margin-bottom: 10px;
}

.AP2 {
  margin: 20px;
}

.Stage {
  margin: 20px;
}

.Stage2 {
  margin: 20px;
}

.AP3 {
  margin: 20px;
}

.Ubuntu {
  margin: 20px;
}

.Glpi {
  margin: 20px;
}

.MFA {
  margin: 20px;
}



  

@media screen and (max-width: 916px) {

    .Acceuil{
        margin-right: -20%;
    }

    .Contenue img{
        display: none;
    }

    .Option{
        flex-direction: column;
    }

     .dis{
        display: none;
    }
}

